/* Add CSS Styling */
.odd {
    background-color: rgb(238, 174, 174);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second {
    color: rgb(26, 26, 202);
    font-size: 36px;
}

.odd.third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(169, 245, 169);
    font-size: 24px;
    font-weight: bold;
}