* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template: repeat(2, 1fr) 5fr repeat(1, 1fr) / repeat(1, 1fr) repeat(1, 4fr);
  gap: 4px;
  height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
   background-color: #393f4d;
   grid-area: 1 / 1 / 1 / span 2;
   display: grid;
   grid-template: repeat(1, 1fr) / repeat(2, 1fr);
   align-items: center;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
   background-color: #C50208;
   grid-area: 2 / 1 / span 2 / 1;
   display: grid;
   grid-template: repeat(4, 1fr) / repeat(1, 1fr);
   gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  grid-template: 1, 1fr;
  justify-items: center;
  align-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  grid-template: 1, 1fr;
  justify-items: center;
  align-items: center;
}

.nav {
  background-color: #C50208;
  grid-area: 2 / 2 / 2 / 2;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
   grid-area: 3 / 2 / 3 / 2;
   display: grid;
   grid-template: repeat(3, 1fr) / repeat(auto-fit, minmax(250px, 1fr));
   gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 / 4 / span 2;
  display: grid;
  grid-template: 1, 1fr;
  justify-items: center;
  align-items: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

.menu ul {
  display: grid;
  grid-template:repeat(1, 1fr) / repeat(4, 1fr);
}

.nav ul {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}