.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
  position: relative;
}

.menu-title {
  background-color: rgb(163, 162, 162);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  position: absolute;
  width: 100%;
  max-width: 250px;
}

.dropdown-menu li {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.visible {
  transform: scaleY(1);
}

.visible li {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s;
}

ul.dropdown-menu li:hover {
  background: rgb(47, 46, 46);
}
