body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template: repeat(2, 1fr) 5fr repeat(1, 1fr) / repeat(1, 1fr) repeat(1, 3fr);
  gap: 20px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-area: 1 / 1 / 1 / span 2;
}

.sidebar {
  background-color: #005B94;
  grid-area: 2 / 1 / span 2 / 1;
}

.nav {
  background-color: #642cde;
  grid-area: 2 / 2 / 2 / 2;
}

.article {
  background-color: #7E1DC3;
  grid-area: 3 / 2 / 3 / 2;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 / 4 / span 2;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}