/* Add CSS Styling */
.button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.button.black {
    background-color: rgb(37, 34, 34);
    color: white;
}

.button.yellow {
    background-color: rgb(223, 223, 38);
}