body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card-container {
  background-color: white;
  width: 550px;
  margin: 0 auto;
}

.card {
  width: 550px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 12px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 12px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}
